<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.BusinessMapper">
	 <select id="getbusiness" resultType="com.bysj.bean.Business" parameterType="String">
	 	select* from business where username=#{username} and password=#{password}
	 </select>
	 <select id="getBgoods" resultType="com.bysj.bean.Bgoods" parameterType="String">
	 	select* from bgoods where business=#{business}
	 </select>
	 <insert id="addGoods" parameterType="com.bysj.bean.Bgoods">
	 	insert into bgoods(Gname,Gprice,Gcategory,Gumber,Gpicture,Business) 
	 	values(#{Gname},#{Gprice},#{Gcategory},#{Gumber},#{Gpicture},#{Business})
	 </insert>
	 
	 <select id="getBusinessByname" parameterType="String" resultType="com.bysj.bean.Business">
	 	select* from business where username = #{username}
	 </select>
	<!--  更新用户信息 -->
	<update id="business_update" parameterType="com.bysj.bean.Business">
	 	 update business
        <set>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="Baddress!=null">
                Baddress = #{baddress},
            </if>
 			<if test="Bphone!=null">
                Bphone = #{bphone},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="Bemail!=null">
                Bemail = #{bemail},
            </if>
        </set>
        where username = #{username}
	 </update>
	 <!-- 注册 -->
	 <insert id="add_business" parameterType="com.bysj.bean.Business">
	 	insert into business(username,password,sex,Bemail,Bphone,Baddress) 
	 	values(#{username},#{password},#{sex},#{bemail},#{bphone},#{baddress})
	 </insert>
	
	 
</mapper>