<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.bysj.bean.Business">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="Bname" jdbcType="VARCHAR" property="bname" />
    <result column="Bpasswor" jdbcType="VARCHAR" property="bpasswor" />
    <result column="Bphone" jdbcType="VARCHAR" property="bphone" />
    <result column="Bemail" jdbcType="VARCHAR" property="bemail" />
    <result column="Baddress" jdbcType="VARCHAR" property="baddress" />
    <result column="Bsex" jdbcType="VARCHAR" property="bsex" />
    <result column="Bgoods" jdbcType="INTEGER" property="bgoods" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, Bname, Bpasswor, Bphone, Bemail, Baddress, Bsex, Bgoods
  </sql>
  <select id="selectByExample" parameterType="com.bysj.bean.BusinessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bysj.bean.BusinessExample">
    delete from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bysj.bean.Business">
    insert into business (id, Bname, Bpasswor, 
      Bphone, Bemail, Baddress, 
      Bsex, Bgoods)
    values (#{id,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR}, #{bpasswor,jdbcType=VARCHAR}, 
      #{bphone,jdbcType=VARCHAR}, #{bemail,jdbcType=VARCHAR}, #{baddress,jdbcType=VARCHAR}, 
      #{bsex,jdbcType=VARCHAR}, #{bgoods,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.bean.Business">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bname != null">
        Bname,
      </if>
      <if test="bpasswor != null">
        Bpasswor,
      </if>
      <if test="bphone != null">
        Bphone,
      </if>
      <if test="bemail != null">
        Bemail,
      </if>
      <if test="baddress != null">
        Baddress,
      </if>
      <if test="bsex != null">
        Bsex,
      </if>
      <if test="bgoods != null">
        Bgoods,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bpasswor != null">
        #{bpasswor,jdbcType=VARCHAR},
      </if>
      <if test="bphone != null">
        #{bphone,jdbcType=VARCHAR},
      </if>
      <if test="bemail != null">
        #{bemail,jdbcType=VARCHAR},
      </if>
      <if test="baddress != null">
        #{baddress,jdbcType=VARCHAR},
      </if>
      <if test="bsex != null">
        #{bsex,jdbcType=VARCHAR},
      </if>
      <if test="bgoods != null">
        #{bgoods,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bysj.bean.BusinessExample" resultType="java.lang.Long">
    select count(*) from business
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bname != null">
        Bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.bpasswor != null">
        Bpasswor = #{record.bpasswor,jdbcType=VARCHAR},
      </if>
      <if test="record.bphone != null">
        Bphone = #{record.bphone,jdbcType=VARCHAR},
      </if>
      <if test="record.bemail != null">
        Bemail = #{record.bemail,jdbcType=VARCHAR},
      </if>
      <if test="record.baddress != null">
        Baddress = #{record.baddress,jdbcType=VARCHAR},
      </if>
      <if test="record.bsex != null">
        Bsex = #{record.bsex,jdbcType=VARCHAR},
      </if>
      <if test="record.bgoods != null">
        Bgoods = #{record.bgoods,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business
    set id = #{record.id,jdbcType=INTEGER},
      Bname = #{record.bname,jdbcType=VARCHAR},
      Bpasswor = #{record.bpasswor,jdbcType=VARCHAR},
      Bphone = #{record.bphone,jdbcType=VARCHAR},
      Bemail = #{record.bemail,jdbcType=VARCHAR},
      Baddress = #{record.baddress,jdbcType=VARCHAR},
      Bsex = #{record.bsex,jdbcType=VARCHAR},
      Bgoods = #{record.bgoods,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>